body {
   font-family: Arial, sans-serif;
   background-color: #f7f7f7;
   padding: 20px;
}
div{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items:center;
}
h1 {
   text-align: center;
   color: #4CAF50;
}
.button-container {
   text-align: center;
   margin: 20px 0;
}
button { 
   padding: 15px 30px;
   font-size: 16px;
   margin: 10px;
   border-radius: 5px;
   border: none;
   color: white;
   width: 30rem;
   }

button:disabled {
      background-color: gray;
      opacity: 0.3;
    }

#start-bot {
   background-color: #4CAF50;

}
#stop-bot {
   background-color: #f44336;
}
#bot-status {
   text-align: center;
   font-size: 18px;
   margin-top: 20px;
}
.btn{
   display: flex;
   justify-content: space-between;
}